<div class="intro">
  <div class="intro-content">
    <div {{#is "home"}}class="animation-1"{{/is}}><a class="left-title site-title" href="/">{{@blog.title}}</a></div>
    <div {{#is "home"}}class="animation-2"{{/is}}><p class="summary">{{@blog.description}}</p></div>

    {{navigation}}


    <div class="social-links {{#is "home"}}animation-4{{/is}}">
      <!-- Twitter -->
      <div class="button-wrapper">
        <a href="{{@blog.twitter}}">
            <svg class="social-button twitter-button" viewBox="0 0 64 52">
              <path d="M20.1277295,52.011383 C12.7126814,52.011383 5.81077574,49.8377848 0,46.1123523 C1.0272212,46.2336149 2.07246794,46.2956508 3.13222866,46.2956508 C9.28385079,46.2956508 14.9455065,44.1964959 19.439248,40.6749625 C13.6935513,40.5689161 8.84444938,36.7727861 7.17369318,31.5561506 C7.97524422,31.7094846 8.79786373,31.791653 9.64389321,31.791653 C10.8415377,31.791653 12.0014923,31.6312959 13.1033907,31.3311826 C7.09644092,30.1251107 2.57062797,24.8181132 2.57062797,18.4562712 C2.57062797,18.4010241 2.57062797,18.346011 2.57156442,18.2912323 C4.34204615,19.2746772 6.36652412,19.8653059 8.51905344,19.9334284 C4.99588145,17.5788727 2.67761062,13.5598814 2.67761062,9.00457215 C2.67761062,6.59828089 3.32512525,4.34274856 4.45534947,2.40348213 C10.9314313,10.3473573 20.6064597,15.5747613 31.5191631,16.1223161 C31.2953656,15.1613447 31.1790189,14.1591718 31.1790189,13.1300779 C31.1790189,5.8788982 37.0581514,0 44.3097992,0 C48.086265,0 51.4987088,1.59467421 53.8939976,4.14657449 C56.8848312,3.55758442 59.6949411,2.46481583 62.2318591,0.960269248 C61.2514575,4.02624812 59.1696258,6.5994514 56.4585389,8.22455841 C59.1146127,7.90712175 61.64521,7.20131684 64,6.15700657 C62.2395843,8.7901385 60.0133142,11.1027908 57.4480705,12.9540364 C57.4733531,13.5170416 57.4859942,14.0833241 57.4859942,14.65265 C57.4859942,32.0037456 44.2791324,52.011383 20.1277295,52.011383" />
            </svg>
        </a>
      </div>

      <!-- Instagram -->
      <div class="button-wrapper">
        <a href="https://www.instagram.com/andrewc/">
            <svg class="social-button instagram-button" viewBox="0 0 64 64">
                  <defs>
                      <polygon id="path-1" points="0 63.992381 63.9798095 63.992381 63.9798095 0.0201904762 0 0.0201904762"></polygon>
                  </defs>
                          <g id="Group-3">
                              <mask id="mask-2" fill="white">
                                  <use xlink:href="#path-1"></use>
                              </mask>
                              <g id="Clip-2"></g>
                              <path d="M31.9899683,0.0201904762 C23.3019683,0.0201904762 22.2125714,0.057015873 18.8005079,0.212698413 C15.3955556,0.368 13.0700952,0.908825397 11.0353016,1.69968254 C8.93168254,2.51707937 7.14768254,3.61092063 5.36914286,5.38933333 C3.59073016,7.16787302 2.49688889,8.95187302 1.67949206,11.0554921 C0.888634921,13.0902857 0.347809524,15.415746 0.192507937,18.8206984 C0.0368253968,22.2327619 0,23.3221587 0,32.0101587 C0,40.6980317 0.0368253968,41.7874286 0.192507937,45.1994921 C0.347809524,48.6044444 0.888634921,50.9299048 1.67949206,52.9646984 C2.49688889,55.0683175 3.59073016,56.8523175 5.36914286,58.6308571 C7.14768254,60.4092698 8.93168254,61.5031111 11.0353016,62.3206349 C13.0700952,63.1113651 15.3955556,63.6521905 18.8005079,63.8074921 C22.2125714,63.9631746 23.3019683,64 31.9899683,64 C40.6778413,64 41.7672381,63.9631746 45.1793016,63.8074921 C48.584254,63.6521905 50.9097143,63.1113651 52.9445079,62.3206349 C55.048127,61.5031111 56.832127,60.4092698 58.6106667,58.6308571 C60.3890794,56.8523175 61.4829206,55.0683175 62.3004444,52.9646984 C63.0911746,50.9299048 63.632,48.6044444 63.7873016,45.1994921 C63.9429841,41.7874286 63.9798095,40.6980317 63.9798095,32.0101587 C63.9798095,23.3221587 63.9429841,22.2327619 63.7873016,18.8206984 C63.632,15.415746 63.0911746,13.0902857 62.3004444,11.0554921 C61.4829206,8.95187302 60.3890794,7.16787302 58.6106667,5.38933333 C56.832127,3.61092063 55.048127,2.51707937 52.9445079,1.69968254 C50.9097143,0.908825397 48.584254,0.368 45.1793016,0.212698413 C41.7672381,0.057015873 40.6778413,0.0201904762 31.9899683,0.0201904762 Z M31.9899683,5.78412698 C40.5315556,5.78412698 41.5433651,5.8167619 44.9165714,5.97066667 C48.0355556,6.11288889 49.7293968,6.63403175 50.8566349,7.07212698 C52.3498413,7.65244444 53.4154921,8.34565079 54.5348571,9.46514286 C55.6543492,10.5845079 56.3475556,11.6501587 56.927873,13.1433651 C57.3659683,14.2706032 57.8871111,15.9644444 58.0293333,19.0834286 C58.1832381,22.4566349 58.215873,23.4684444 58.215873,32.0101587 C58.215873,40.551746 58.1832381,41.5635556 58.0293333,44.9367619 C57.8871111,48.055746 57.3659683,49.7495873 56.927873,50.8768254 C56.3475556,52.3700317 55.6543492,53.4356825 54.5348571,54.5550476 C53.4154921,55.6745397 52.3498413,56.367746 50.8566349,56.9480635 C49.7293968,57.3861587 48.0355556,57.9073016 44.9165714,58.0495238 C41.543873,58.2034286 40.5321905,58.2360635 31.9899683,58.2360635 C23.447619,58.2360635 22.4360635,58.2034286 19.0632381,58.0495238 C15.944254,57.9073016 14.2504127,57.3861587 13.1231746,56.9480635 C11.6299683,56.367746 10.5643175,55.6745397 9.44495238,54.5550476 C8.3255873,53.4356825 7.63225397,52.3700317 7.05193651,50.8768254 C6.61384127,49.7495873 6.09269841,48.055746 5.95047619,44.9367619 C5.79657143,41.5635556 5.76393651,40.551746 5.76393651,32.0101587 C5.76393651,23.4684444 5.79657143,22.4566349 5.95047619,19.0834286 C6.09269841,15.9644444 6.61384127,14.2706032 7.05193651,13.1433651 C7.63225397,11.6501587 8.32546032,10.5845079 9.44495238,9.46514286 C10.5643175,8.34565079 11.6299683,7.65244444 13.1231746,7.07212698 C14.2504127,6.63403175 15.944254,6.11288889 19.0632381,5.97066667 C22.4364444,5.8167619 23.448254,5.78412698 31.9899683,5.78412698 L31.9899683,5.78412698 Z" mask="url(#mask-2)"></path>
                          </g>
                          <path d="M31.9899683,42.6733968 C26.1006984,42.6733968 21.3266032,37.8993016 21.3266032,32.0101587 C21.3266032,26.1208889 26.1006984,21.3467937 31.9899683,21.3467937 C37.8791111,21.3467937 42.6532063,26.1208889 42.6532063,32.0101587 C42.6532063,37.8993016 37.8791111,42.6733968 31.9899683,42.6733968 Z M31.9899683,15.5828571 C22.9173333,15.5828571 15.5626667,22.9375238 15.5626667,32.0101587 C15.5626667,41.0826667 22.9173333,48.4373333 31.9899683,48.4373333 C41.0624762,48.4373333 48.4171429,41.0826667 48.4171429,32.0101587 C48.4171429,22.9375238 41.0624762,15.5828571 31.9899683,15.5828571 L31.9899683,15.5828571 Z" />
                          <path d="M52.9050159,14.9338413 C52.9050159,17.0539683 51.1862857,18.7725714 49.0661587,18.7725714 C46.9461587,18.7725714 45.2274286,17.0539683 45.2274286,14.9338413 C45.2274286,12.8137143 46.9461587,11.0949841 49.0661587,11.0949841 C51.1862857,11.0949841 52.9050159,12.8137143 52.9050159,14.9338413" />
            </svg>
        </a>
      </div>

      <!-- Linkedin -->
      <div class="button-wrapper">
        <a href="https://www.linkedin.com/in/acraig4/">
            <svg class="social-button linkedin-button" viewBox="0 0 76 76">
                          <path d="M2.75105639e-14,5.44416681 C2.7142445e-14,2.43824744 2.51442034,0 5.61626093,0 L70.3837391,-1.42108547e-14 C73.4854775,-1.42108547e-14 76,2.43824744 76,5.44416681 L76,70.5558332 C76,73.5627681 73.4854775,76 70.3837391,76 L5.61626093,76 C2.51442034,76 6.80695253e-15,73.5627681 6.43870921e-15,70.5558332 L-1.53517017e-15,5.44416681 L2.75105639e-14,5.44416681 Z M23.8506992,63.6109096 L23.8506992,29.1806699 L12.4067249,29.1806699 L12.4067249,63.6109096 L23.8506992,63.6109096 L23.8506992,63.6109096 Z M18.1286611,24.4798022 C22.1194065,24.4798022 24.6033067,21.8359461 24.6033067,18.5318901 C24.5289323,15.1534598 22.1194065,12.5829593 18.20436,12.5829593 C14.289721,12.5829593 11.7302238,15.1534598 11.7302238,18.5318901 C11.7302238,21.8359461 14.2136146,24.4798022 18.054083,24.4798022 L18.1284574,24.4798022 L18.1286611,24.4798022 Z M30.1830147,63.6109096 L41.6268871,63.6109096 L41.6268871,44.3836064 C41.6268871,43.3545912 41.7012614,42.3265947 42.0034455,41.5910016 C42.830733,39.5350087 44.7137291,37.4056603 47.8751493,37.4056603 C52.0161716,37.4056603 53.6726824,40.5630052 53.6726824,45.1915362 L53.6726824,63.6109096 L65.1156379,63.6109096 L65.1156379,43.8690988 C65.1156379,33.2936745 59.4698081,28.3727401 51.9405747,28.3727401 C45.7668906,28.3727401 43.056607,31.8235072 41.5507807,34.1739411 L41.6271927,34.1739411 L41.6271927,29.1806699 L30.1833203,29.1806699 C30.3334954,32.4113704 30.1833203,63.6109096 30.1833203,63.6109096 L30.1830147,63.6109096 Z" id="Combined-Shape"></path>
            </svg>
        </a>
      </div>

      <!-- Email -->
      <div class="button-wrapper">
        <script language="JavaScript">
          var username = "andrew";
          var hostname = "seatrain.net";
          document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>");
          </script>
          <svg class="social-button email-button" viewBox="0 0 64 52">
            <path d="M57.6,0.4 L6.4,0.4 C2.88,0.4 0.032,3.28 0.032,6.8 L0,45.2 C0,48.72 2.88,51.6 6.4,51.6 L57.6,51.6 C61.12,51.6 64,48.72 64,45.2 L64,6.8 C64,3.28 61.12,0.4 57.6,0.4 Z M57.6,45.2 L6.4,45.2 L6.4,13.2 L32,29.2 L57.6,13.2 L57.6,45.2 Z M32,22.8 L6.4,6.8 L57.6,6.8 L32,22.8 Z"></path>
          </svg>
        </a>
      </div>
    </div>
    </div>

  </div>
